@media screen and (max-width:500px) {
    .nav-container{
        flex-direction: column;
        padding: 20px 0;
    }
    nav{
        height: 100%;
        margin-bottom: 20px;
    }
    .nav-menu,.nav-logo {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        width: 100%;
        
        
    }
    .nav-menu a{
        margin-left: 0;
    }
    .nav-logo h1{
        font-size: 30px;
        margin-top: 0px;
    }
    
    .banner-container{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        
    }
    .section-one{
        width: 100%;
    }
    .banner-text{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    .section-one,.two-images{
        flex-direction: column;
    }
    .one-image{
        width: 90%;
    }
    .one-text{
        width: 100%;
        text-align: end;
    }
    .img-game img{
        width: 100%;
    }
    .section-three{
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .three-image{
        padding: 0;
    }
    .three{
        width: 100%;
    }
    .three-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
        margin-left: 0;
        
    }
    
    .three{
        width: 100%;
        height: 70%;
    }
    .three-image{
        width: 100%;
        height: auto;
    }
    .inside img{
        width: 200px;
        height: 200px;
    }
    .inside {
        right: 50px;
        bottom: 150px;
    }
    .section-five{
        grid-template-columns: repeat(2,1fr);
        padding: 0;
    }
    .section-four{
        flex-direction: column;
    }

    .d-one{
        padding: 0;
        width: 100%;
    }
    .four-img img{
        width: 100%;
    }
    .four-img{
        width: 100%;
    }
}
@media screen and (min-width:500px) and (max-width:990px) {
    .nav-container{
        flex-direction: column;
        padding: 20px 0;
    }
    .nav-menu,.nav-logo {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        width: 100%;
        
    }
    nav{
        height: auto;
    }
    .nav-menu a{
        margin-left: 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        
    }
    .banner-img{
        width: 100%;
    }
   
    .banner-text{
        width: 100%;
    }
    .section-one,.two-images{
        flex-direction: column;
    }
    .one-image{width: 100%;
    }
    .two-images img{
        width: 100%;
    }
    .one-text{
        width: 100%;
    }
    .section-three{
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: auto;
        margin-bottom: 0px;
    }
    .three-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }
    
    .three{
        width: 100%;
        height: 100%;
    }
    .three-image{
        width: 100%;
        height: 100%;
    }
    .inside img{
        width: 200px;
        height: 200px;
    }
    .inside {
        right: 50px;
        bottom: 150px;
    }
    .three-image{
        padding: 0;
    }
    .section-five{
        grid-template-columns: repeat(2,1fr);
        padding: 0;
    }
    .section-four{
        flex-direction: column;
    }
.four-img{
    width: 100%;
}
    .d-one{
        padding: 0;
        width: 100%;
    }
    .four-img img{
        width: 100%;
    }
    
}