@media screen and (max-width:500px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-menu,.nav-logo {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        width: 100%;
    }
    
}
@media screen and (min-width:500px) and (max-width:800px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-menu,.nav-logo {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        width: 100%;
    }
}