@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
nav{
    max-width: 1920px;
    height: 130px;
    margin: auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    

}
.nav-menu{
    display: flex;
    
    height: auto;
    align-items: center;
}

.nav-logo{
    display: flex;
    
    width: 50%;
    align-items: center;
    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-logo h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}
.nav-logo img{
    width: 86.041px;
    height: 40px;
    margin-right: 10px;
}
.nav-menu a{
    text-decoration: none;
    margin-left: 40px;
    
    width: 50%;
    color: #3C354F;
    text-align: center;
    font-family: 'Work Sans',;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.youtube{
    background-color: #b2b1b6;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    
    
}

  
